In [79]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели  
from sklearn import metrics # инструменты для оценки точности модели

In [89]:
hotels = pd.read_csv('C:\Temp\Pythone/hotels.csv')
hotels.head(1)
#hotels['lng'].describe()

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671

In [102]:
hotels['positive_review1']=hotels['positive_review'].str.rstrip().str.split( ).str[0] 
hotels['positive_review1'].nunique()

6868

In [45]:
dupl_columns = list(hotels.columns)

mask = hotels.duplicated(subset=dupl_columns)
hotels_duplicates = hotels[mask]
print(f'Число найденных дубликатов: {hotels_duplicates.shape[0]}')

hotels_dedupped = hotels.drop_duplicates(subset=dupl_columns)
print(f'Результирующее число записей: {hotels_dedupped.shape[0]}')

Число найденных дубликатов: 307
Результирующее число записей: 386496

In [28]:
hotels['tags'].describe()

count                                                386803
unique                                                47135
top       [' Leisure trip ', ' Couple ', ' Double Room '...
freq                                                   3853
Name: tags, dtype: object

In [87]:
hotels['bad'] = hotels['tags'].str.rstrip().str.split( ).str[1] 
hotels['bad'].value_counts()

Leisure      312768
Business      61846
Couple         4346
Solo           3216
Family         2349
Group          1188
With           1045
Travelers        45
Name: bad, dtype: int64

In [52]:
#object_columns = [s for s in hotels.columns if hotels[s].dtypes == 'object']
#hotels.drop(object_columns, axis = 1, inplace=True)
#hotels = hotels.fillna(hotels.median())

In [ ]:
hotels.drop(['lat', 'total_number_of_reviews'], axis = 1)

In [55]:
# Разбиваем датафрейм на части, необходимые для обучения и тестирования модели  
# Х - данные с информацией об отелях, у - целевая переменная (рейтинги отелей)  
X = hotels.drop(['reviewer_score'], axis = 1)  
y = hotels['reviewer_score']

In [57]:
# Наборы данных с меткой "train" будут использоваться для обучения модели, "test" - для тестирования.  
# Для тестирования мы будем использовать 25% от исходного датасета.  
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [58]:
# Создаём модель  
regr = RandomForestRegressor(n_estimators=100)  
      
# Обучаем модель на тестовом наборе данных  
regr.fit(X_train, y_train)  
      
# Используем обученную модель для предсказания рейтинга отелей в тестовой выборке.  
# Предсказанные значения записываем в переменную y_pred  
y_pred = regr.predict(X_test)

In [59]:
print('MAPE:', metrics.mean_absolute_percentage_error(y_test, y_pred))

MAPE: 0.14132136939392748

MAPE: 0.14137549281211303
MAPE: 0.14138096790878316
MAPE: 0.1412810941424664

In [78]:
hotels = pd.read_csv('C:\Temp\Pythone/hotels.csv')

In [75]:
h=hotels['tags'].str.split(',', expand=True) # расделение столбца
h=h.drop([4,5], axis = 1)

0          [' Leisure trip '
1         [' Business trip '
2          [' Leisure trip '
3          [' Leisure trip '
4         [' Business trip '
                 ...
386798     [' Leisure trip '
386799     [' Leisure trip '
386800    [' Business trip '
386801     [' Leisure trip '
386802     [' Leisure trip '
Name: 0, Length: 386803, dtype: object

In [94]:
hotels['days'] = hotels['days_since_review'].str.rstrip().str.split( ).str[0] 
hotels['days'].count

<bound method Series.count of 0         531
1         203
2         289
3         681
4         516
         ...
386798    106
386799    171
386800    543
386801     74
386802    363
Name: days, Length: 386803, dtype: object>

In [91]:
hotels['bad'] = hotels['tags'].str.rstrip().str.split( ).str[1] 
hotels['bad'].value_counts()

Leisure      312768
Business      61846
Couple         4346
Solo           3216
Family         2349
Group          1188
With           1045
Travelers        45
Name: bad, dtype: int64

In [41]:
h.fillna(h.median()[0], inplace=True)

C:\Users\e.korenkova\AppData\Local\Temp\ipykernel_20436\2525438544.py:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  h.fillna(h.median()[0], inplace=True)

In [66]:

hotels1 = hotels1.fillna(hotels.median())

regex = '\d{1}' # регулярное выражение для нахождения чисел

hotels1['nights'] = hotels1['tags'].str.findall(regex).str.get(0)
#hotels1= pd.concat([hotels1, hotels1['nights']], axis=1)

hotels1['nights']=hotels1['nights'].astype (str).astype(float)
hotels1.fillna(hotels1.median()[0], inplace=True)
#df['object_column'] = df['int_column'].astype (str).astype (int)
hotels1.info()

C:\Users\e.korenkova\AppData\Local\Temp\ipykernel_24068\3358016135.py:9: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  hotels1.fillna(hotels1.median()[0], inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         386803 non-null  float64
 16  lng                                         386803 non-null  float64
 17  nights                                      386803 non-null  float64
dtypes: float64(5), int64(5), object(8)
memory usage: 53.1+ MB